/*מה שהגיע בברירת מחדל*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*PostHeader*/

.postH {
  width: 100%;
  height: 100%;
  /* margin:1%;
  padding:3%;
  display:flex;
  flex-direction: column;
  text-align: center;
  image-rendering: inherit; */
}

.imgH {
  /* height:40vh;
  width:25vw; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*feed*/

.feed {
  /* display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr; */
  /* display: flex;
  flex-wrap: wrap; */
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-auto-rows: 450px;
  grid-gap: 100px;
  justify-items: center;
}

/*search page*/
#searchPage{
  display: grid;
  grid-template-columns: 20% 80%;
}
